html,body {
  height: 100%;
  margin: 0;
  font-family: 'Open Sans';
  display: grid;
  background-color: var(--color-gray-100);
}

.navbar{
  background-color: #c80205;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  margin: auto;
  width: 100%;
  height: 100%;

}

.navbar li{
  list-style:none;
}
.navbar a{
  color: white;
}

.nav-menu{
  display: flex;
  justify-content:space-between;
  align-items: center;
  gap: 60px;
}

.nav-branding{
  font-size: 2rem;
}

.nav-link{
  transition: 0.7s ease;
}

.nav-link:hover{
  color: black;
  text-decoration: none;
}

.hamburger{
  display: none;
  cursor: pointer;
}

.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out ;
  background-color: white;
}
.langChoice{
  color:white;
  font-size: 16px;
  list-style-type: none;
  margin-left: auto;
  align-content: center;

}

.langChoice li{

  display: inline;
  margin: 8px;
}


.ulaznice-btn {
  background-color: #FFFFFF;
  border: 1px solid rgb(209,213,219);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: .3s ease-in-out;
}

.ulaznice-btn:hover {
  background-color: #c80205;
  color: white;
  transition: .3s ease-in-out;
}

.ulaznice-btn:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.ulaznice-btn:focus-visible {
  box-shadow: none;
}

.ulaznice-btn a{
  text-decoration: none;
  color: #c80205;
}


.karta {
  display: grid;
  justify-content: center;
  align-content: center;
  background-color: var(--color-red);
  width: 100%;
  height: 100%;
  font-size: 45px;
  color: var(--color-black);
  margin: auto;
}


.lokacije{
  color: #fff;
  display: flex;
  justify-content: center;
  margin: auto;
}

.lokacije li{
  display: inline;
}

.lokacije li a{
  text-decoration: none;
  color: black;
  
}

.lokacije li a:hover{
  color: white;
  transition: 400ms;
  
}

.lokacije li a:active{
  color: white;
}





.slideshow-container{
  width: 100%;
  background-color: var(--color-gray-100);
  display: flex;
  align-content: center;
  padding-top:50px ;
  padding-bottom:50px ;
}

.slideshow {
  width: 960px;
  margin: auto;
  background-color: var(--color-gray-100);
  font-size: 32px;
  padding: 15px;
}

.carousel-item {
  background: #777;
  color: white;
  height: 400px;
}


.container{
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 50px;
}
.carousel-caption a{
  text-decoration: none;
  color: white;
  font-weight:700;
}

.carousel-caption p{
  font-size: 18px;

}
.carousel-caption a:hover{
  color: antiquewhite;
  transition: 400ms;
}

.gallery{
  width: 100%;
  background-color: var(--color-gray-100);
  margin: auto;
}
.container{
  padding: 3rem;
  width: 100%;
  margin: auto;

}
.container h1{
  font-size: 3rem;
  padding: 2rem;
  text-align: center;
}

.galllery-img{
  display: block;
  width: 100%;
  height: 100%;
}

.overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: .5s ease-in-out;
  background-color: rgba(255,255,255,0.8);
}

.caption{
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.thumbnail:hover {
  transform: translateY0(-4px);
}

.img-container:hover .overlay{
  opacity: 1;
}




.footer{
  display: grid;
  height: 100%;
  width: 100%;
  font-size: 10px;
  align-content: center;
  justify-content: center;
  margin-bottom: 0;
  background-color: var(--color-gray-100);
  color: var(--color-gray-200);
  margin: auto;
}


.foot-img{
  display: flex;
  justify-content: center;
  margin: 20px;
  height: 95px;
}
.foot-img img{
  margin:15px;
}

.foot-text{
  width: 800px;
  text-align: center;
  height: 250px;
}

.foot-text a{
  color: #c80205;
}
.footer-right{
  text-align: right;
}

.footer-right a{
  color: #c80205;
}



@media only screen and (max-width: 960px) {


html,body{
  display: block;
}

.navbar{
  max-height: 70px;
}

.hamburger{
  display: block;
}

.hamburger.active .bar:nth-child(2){
  opacity: 0;
}
.hamburger.active .bar:nth-child(1){
  transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3){
  transform: translateY(-8px) rotate(-45deg);
}

.nav-menu{
  position: fixed;
  left: -100%;
  top: 70px;
  gap: 0;
  flex-direction: column;
  background-color: #c80205;
  width: 100%;
  text-align: center;
  transition: 0.3s ease;
}
.nav-item{
  margin: 16px 0;
}

.nav-menu.active{
  left: 0;
  color: #c80205 ;
}



.carousel-item {
  background: #777;
  color: white;
  height: 100%;
}



.karta {
  display: grid;
  width: 100%;
  height: 100%;
  font-size: 20px;
  padding-left: 10px;
}

.lokacije{
  margin-top: 100px;
}



.footer{
  display: grid;
  width: 100%;
  font-size: 10px;
  align-content: center;
  justify-content: center;
  margin-bottom: 0;
  background-color: var(--color-gray-100);
  color: var(--color-gray-200);
  margin: auto;
}


.foot-img{
  display: grid;
  justify-content: center;
  margin:auto;
  height: 100%;
}
.foot-img img{
  width: 100px;
}

.foot-text{
  margin: auto;
  width: 100%;
}




}
  

